<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">

    <LinearLayout android:orientation="horizontal" android:layout_height="fill_parent" android:layout_width="fill_parent" android:id="@+id/linlayout">
        <LinearLayout android:layout_weight="1" android:layout_height="fill_parent" android:layout_width="fill_parent">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:text="Item"/>
            <TextView
                
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:text="Phone Number"/>
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:text="Email"/>
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:text="Address"/>
        </LinearLayout>
        <LinearLayout android:layout_weight="1" android:layout_height="fill_parent" android:layout_width="fill_parent">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:text="Allow Access"/>
            <CheckBox
                android:layout_width="wrap_content"
                android:layout_height="fill_parent" />
            <CheckBox
                android:layout_width="wrap_content"
                android:layout_height="fill_parent" />
            <CheckBox
                android:layout_width="wrap_content"
                android:layout_height="fill_parent" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>
